body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.about {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 700px;
	height: 580px;
	padding: 30px;
  color: white;
}

.about-container {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   -webkit-filter: contrast(120%);
   margin-top: -25px;
   text-align: center;
}

a, li {
  display: inline-block;
  font-size: 18px;
  width: 110px;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 8px;
  text-align: center;
  color: white;
  text-decoration: none;
}

.white {
  background-color: white;
  border: none;
  width: 50px;
  height: 3px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
